%editor-viewer {
  width: 100%;
  height: 600px;
  outline: none;
  font-size: 1.5rem;
  padding: 10px;
  border-radius: 3px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

$basic-grey: #595959;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
}

body {
  font-family: "Tahoma", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  padding: 3rem;
  margin: 2rem;
  box-sizing: border-box;
  border-width:5px;
  border-style:ridge;
  color: #595959;
}

.row {
}

.text-lg-center h1 {
  font-size: 4rem;
  font-family: "Trebuchet MS", sans-serif;
}

textarea {
  @extend %editor-viewer;
}

textarea:hover, #preview:hover {
  background-color: #e6e6e6;
  color: black;
}

#preview {
  @extend %editor-viewer;
  border: 1px solid grey;
  background-color: #66b3ff;
  overflow: auto;
}

button {
  margin: 5px;
  width: 50px;
}
